{% extends 'ecom/base.html' %}
{% block content %}
    <h1>Previous Orders</h1>
    {% if orders %}
        <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">Sr.</th>    
                <th scope="col">Item Name</th>
                <th scope="col">Company</th>
                <th scope="col">Quantity</th>
                <th scope="col">Amount</th>
                <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{order.item.title}}</td>
                <td>{{order.vendor.company_name}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.total_cost}}</td>
                <td><a href="{% url 'write_review' item_id=order.item.pk %}">Review</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <tr>
        <td colspan="7">No orders found.</td>
      </tr>
    {% endif %}
{% endblock %}