{% extends "ecom/base.html" %}
{% load discount_tags %}
{% load static %}
{% block headcontent %}
  <link rel="stylesheet" href="{% static 'css/item_list.css' %}">
{% endblock %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    {% for item in item_list %}
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4">
          <a href="{% url 'item_detail' item_id=item.pk %}" style="color: black; text-decoration: none;" class="card-link">
            <img class="card-img-top" src="{{ item.image.url }}" alt="Card image">
          <div class="card-body text-center">
            {% if user.is_authenticated and user.is_customer%}
              <h3 class="card-title text-center">{{ item.title }} <a href="{% url 'add_to_wishlist' item_id=item.pk %}" style="color: rgb(251, 6, 6); text-decoration: none;"><span class="material-icons">
                {% if item.pk in wishlist_items %}
                  favorite
                {% else %}
                  favorite_border
                {% endif %}
              </span></a></h3>
            {% else %}
              <h3 class="card-title text-center">{{ item.title }}</h3>
            {% endif %}
            {% if item.discount > 0 %}
              <h5 class="text-danger">Price:<del> Rs {{ item.price }}</del><strong> Rs {{item.price|discounted:item.discount}}</strong></h5>
            {% else %}
              <h5 class="text-danger">Price: Rs {{item.price}}</h5>
            {% endif %}
            <p class="card-text">{{ item.description|truncatewords:15 }}</p>
            <p class="card-text text-primary">In Stock: {{ item.available_units }}</p>
            <p class="card-text text-success">Sales: {{ item.num_sales }} Units</p>
          </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>  

{% endblock %}